<?xml version="1.0"?>
<TeamInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Teams Name="Retail" IsEnabledForGroupChart="true" GroupChartOrderNumber="4">
    <Member MemberName="Bob He (Wicresoft)">
      <Alias>v-bobhe</Alias>
      <Role>Dev</Role>
      <Enable>true</Enable>
    </Member>
    <Member MemberName="Xiaotao Yi (Wicresoft)">
      <Alias>v-xiayi</Alias>
      <Role>Dev</Role>
      <Enable>true</Enable>
    </Member>
  </Teams>
  <Teams Name="Share" IsEnabledForGroupChart="true" GroupChartOrderNumber="2">
    <Member MemberName="David Huang (Wicresoft)">
      <Alias>v-dahua</Alias>
      <Role>Dev</Role>
      <Enable>true</Enable>
    </Member>
    <Member MemberName="Feng Liang (Wicresoft)">
      <Alias>v-fengli</Alias>
      <Role>Dev</Role>
      <Enable>true</Enable>
    </Member>
    <Member MemberName="Michelle Zhou (Wicresoft)">
      <Alias>v-mzhou</Alias>
      <Role>Dev</Role>
      <Enable>true</Enable>
    </Member>
    <Member MemberName="Fangyuan Hou (Wicresoft)">
      <Alias>v-fahou</Alias>
      <Role>Dev</Role>
      <Enable>true</Enable>
    </Member>
    <Member MemberName="TianCai Gong (Wicresoft)">
      <Alias>v-tggong</Alias>
      <Role>Dev</Role>
      <Enable>true</Enable>
    </Member>
  </Teams>
  <Teams Name="GFM_PM" IsEnabledForGroupChart="false" GroupChartOrderNumber="5">
    <Member MemberName="Ganesh Kumar Kadabur (Sonata Software Ltd)">
      <Alias>v-gkad</Alias>
      <Role>PM</Role>
      <Enable>true</Enable>
    </Member>
    <Member MemberName="Susant Sabat (Sonata)">
      <Alias>v-susaba</Alias>
      <Role>PM</Role>
      <Enable>true</Enable>
    </Member>
    <Member MemberName="Brian King (MBS)">
      <Alias>brking</Alias>
      <Role>PM</Role>
      <Enable>true</Enable>
    </Member>
  </Teams>
  <Teams Name="MyBugs" IsEnabledForGroupChart="true" GroupChartOrderNumber="6">
    <Member MemberName="Peng Wang (Wicresoft)">
      <Alias>v-vwang</Alias>
      <Role>Dev</Role>
      <Enable>true</Enable>
    </Member>
  </Teams>
  <Teams Name="GFM" IsEnabledForGroupChart="true" GroupChartOrderNumber="1">
    <Member MemberName="Peng Wang (Wicresoft)">
      <Alias>v-vwang</Alias>
      <Role>Dev</Role>
      <Enable>true</Enable>
    </Member>
    <Member MemberName="Guanghui Zhang (Wicresoft)">
      <Alias>v-guzhan</Alias>
      <Role>Dev</Role>
      <Enable>true</Enable>
    </Member>
    <Member MemberName="Donny Cao (Wicresoft)">
      <Alias>v-dcao</Alias>
      <Role>Dev</Role>
      <Enable>true</Enable>
    </Member>
    <Member MemberName="Sam Shi (Wicresoft)">
      <Alias>v-samshi</Alias>
      <Role>Dev</Role>
      <Enable>true</Enable>
    </Member>
    <Member MemberName="Qiaosheng You (Wicresoft)">
      <Alias>v-qiyou</Alias>
      <Role>Dev</Role>
      <Enable>true</Enable>
    </Member>
  </Teams>
  <Teams Name="SCM" IsEnabledForGroupChart="true" GroupChartOrderNumber="3">
    <Member MemberName="Sherman Wang (Wicresoft)">
      <Alias>v-shewan</Alias>
      <Role>Dev</Role>
      <Enable>true</Enable>
    </Member>
    <Member MemberName="Juan Shang (Wicresoft)">
      <Alias>v-junsha</Alias>
      <Role>Dev</Role>
      <Enable>true</Enable>
    </Member>
    <Member MemberName="Angus Hao (Wicresoft)">
      <Alias>v-angush</Alias>
      <Role>Dev</Role>
      <Enable>true</Enable>
    </Member>
    <Member MemberName="Sunny Wang (Wicresoft)">
      <Alias>v-sunnw</Alias>
      <Role>Dev</Role>
      <Enable>true</Enable>
    </Member>
  </Teams>
</TeamInfo>