<?xml version="1.0"?>
<TFSFields xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <TFSFields FieldName="Id">
    <fieldWiqName>System.Id</fieldWiqName>
    <fieldDisName>ID</fieldDisName>
    <FieldWidth>50</FieldWidth>
    <FieldNum>2</FieldNum>
    <Enabled>true</Enabled>
  </TFSFields>
  <TFSFields FieldName="BugID">
    <fieldWiqName>Microsoft.Dynamics.BugID</fieldWiqName>
    <fieldDisName>Bug ID</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="WorkItemType">
    <fieldWiqName>System.WorkItemType</fieldWiqName>
    <fieldDisName>Work Item Type</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="Title">
    <fieldWiqName>System.Title</fieldWiqName>
    <fieldDisName>Title</fieldDisName>
    <FieldWidth>115</FieldWidth>
    <FieldNum>8</FieldNum>
    <Enabled>true</Enabled>
  </TFSFields>
  <TFSFields FieldName="AssignedTo">
    <fieldWiqName>System.AssignedTo</fieldWiqName>
    <fieldDisName>Assigned To</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>5</FieldNum>
    <Enabled>true</Enabled>
  </TFSFields>
  <TFSFields FieldName="State">
    <fieldWiqName>System.State</fieldWiqName>
    <fieldDisName>State</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>4</FieldNum>
    <Enabled>true</Enabled>
  </TFSFields>
  <TFSFields FieldName="PMAssigned">
    <fieldWiqName>Microsoft.Dynamics.PMAssigned</fieldWiqName>
    <fieldDisName>PM Assigned</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="Priority">
    <fieldWiqName>Microsoft.VSTS.Common.Priority</fieldWiqName>
    <fieldDisName>Priority</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="TestAssigned">
    <fieldWiqName>Microsoft.Dynamics.TestAssigned</fieldWiqName>
    <fieldDisName>Test Assigned</fieldDisName>
    <FieldWidth>120</FieldWidth>
    <FieldNum>7</FieldNum>
    <Enabled>true</Enabled>
  </TFSFields>
  <TFSFields FieldName="TestReviewer">
    <fieldWiqName>Microsoft.Dynamics.TestReviewer</fieldWiqName>
    <fieldDisName>Test Reviewer</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="Version">
    <fieldWiqName>Microsoft.VSTS.Common.Version</fieldWiqName>
    <fieldDisName>Version</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="Partner">
    <fieldWiqName>Microsoft.Dynamics.Partner</fieldWiqName>
    <fieldDisName>Partner</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="History">
    <fieldWiqName>System.History</fieldWiqName>
    <fieldDisName>History</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="DevFTEs">
    <fieldWiqName>Microsoft.Dynamics.DevFTEs</fieldWiqName>
    <fieldDisName>Dev FTEs</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="DevAssigned">
    <fieldWiqName>Microsoft.Dynamics.DevAssigned</fieldWiqName>
    <fieldDisName>Dev Assigned</fieldDisName>
    <FieldWidth>120</FieldWidth>
    <FieldNum>6</FieldNum>
    <Enabled>true</Enabled>
  </TFSFields>
  <TFSFields FieldName="CodeReviewer">
    <fieldWiqName>Microsoft.Dynamics.CodeReviewer</fieldWiqName>
    <fieldDisName>Code Reviewer</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="AXSEBug">
    <fieldWiqName>Microsoft.Dynamics.AXSEBug</fieldWiqName>
    <fieldDisName>AXSE Bug</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="Branch">
    <fieldWiqName>Microsoft.Dynamics.Branch</fieldWiqName>
    <fieldDisName>Branch</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="AcceptDate">
    <fieldWiqName>Microsoft.Dynamics.AcceptDate</fieldWiqName>
    <fieldDisName>Accept Date</fieldDisName>
    <FieldWidth>120</FieldWidth>
    <FieldNum>9</FieldNum>
    <Enabled>true</Enabled>
  </TFSFields>
  <TFSFields FieldName="ActivatedDate">
    <fieldWiqName>Microsoft.VSTS.Common.ActivatedDate</fieldWiqName>
    <fieldDisName>Activated Date</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="AreaPath">
    <fieldWiqName>System.AreaPath</fieldWiqName>
    <fieldDisName>Area Path</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="BugNumber">
    <fieldWiqName>Microsoft.Dynamics.CP.BugNumber</fieldWiqName>
    <fieldDisName>Bug</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="CCList">
    <fieldWiqName>Microsoft.Dynamics.CCList</fieldWiqName>
    <fieldDisName>CC: List</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="ActivatedBy">
    <fieldWiqName>Microsoft.VSTS.Common.ActivatedBy</fieldWiqName>
    <fieldDisName>Activated By</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="ApplicationTestBuild">
    <fieldWiqName>Microsoft.Dynamics.SE.ApplicationTestBuild</fieldWiqName>
    <fieldDisName>Application Test Build</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="AreaId">
    <fieldWiqName>System.AreaId</fieldWiqName>
    <fieldDisName>AreaID</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="AssignedDevTeam">
    <fieldWiqName>Microsoft.Dynamics.AssignedDevTeam</fieldWiqName>
    <fieldDisName>Assigned Dev Team</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="AssignedTestTeam">
    <fieldWiqName>Microsoft.Dynamics.AssignedTestTeam</fieldWiqName>
    <fieldDisName>Assigned Test Team</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="AttachedFileCount">
    <fieldWiqName>System.AttachedFileCount</fieldWiqName>
    <fieldDisName>AttachedFileCount</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="AuthorizedAs">
    <fieldWiqName>System.AuthorizedAs</fieldWiqName>
    <fieldDisName>Authorized As</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="AutomatedBy">
    <fieldWiqName>Microsoft.Dynamics.AutomatedBy</fieldWiqName>
    <fieldDisName>Automated By</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="Blocking">
    <fieldWiqName>Microsoft.IWCS.Bug.Blocking</fieldWiqName>
    <fieldDisName>Blocking</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="Browser">
    <fieldWiqName>Microsoft.Dynamics.Browser</fieldWiqName>
    <fieldDisName>Browser</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="BusinessImpact">
    <fieldWiqName>Microsoft.Dynamics.BusinessImpact</fieldWiqName>
    <fieldDisName>Business Impact</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="BusinessProblem">
    <fieldWiqName>Microsoft.Dynamics.BusinessProblem</fieldWiqName>
    <fieldDisName>Business Problem</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="BusinessProblemDescription">
    <fieldWiqName>Microsoft.Dynamics.BusinessProblemDescription</fieldWiqName>
    <fieldDisName>Business Problem Description</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="ChangedBy">
    <fieldWiqName>System.ChangedBy</fieldWiqName>
    <fieldDisName>Changed By</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="ChangedDate">
    <fieldWiqName>System.ChangedDate</fieldWiqName>
    <fieldDisName>Changed Date</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="ChangeListInfo">
    <fieldWiqName>Microsoft.VSTS.Common.ChangeListInfo</fieldWiqName>
    <fieldDisName>ChangeListInfo</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="CheckedInBy">
    <fieldWiqName>Microsoft.Dynamics.CheckedInBy</fieldWiqName>
    <fieldDisName>Checked In By</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="ClientOS">
    <fieldWiqName>Microsoft.Dynamics.ClientOS</fieldWiqName>
    <fieldDisName>Client OS</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="ClosedBy">
    <fieldWiqName>Microsoft.VSTS.Common.ClosedBy</fieldWiqName>
    <fieldDisName>Closed By</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="ClosedDate">
    <fieldWiqName>Microsoft.VSTS.Common.ClosedDate</fieldWiqName>
    <fieldDisName>Closed Date</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="CodeReview">
    <fieldWiqName>Microsoft.Dynamics.CodeReview</fieldWiqName>
    <fieldDisName>Code Review</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="CorePresent">
    <fieldWiqName>Microsoft.Dynamics.SE.CorePresent</fieldWiqName>
    <fieldDisName>Core Present</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="CreatedBy">
    <fieldWiqName>System.CreatedBy</fieldWiqName>
    <fieldDisName>Created By</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="CreatedDate">
    <fieldWiqName>System.CreatedDate</fieldWiqName>
    <fieldDisName>Created Date</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="Customer">
    <fieldWiqName>Microsoft.Dynamics.Customer</fieldWiqName>
    <fieldDisName>Customer</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="Database">
    <fieldWiqName>Microsoft.Dynamics.Database</fieldWiqName>
    <fieldDisName>Database</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="Description">
    <fieldWiqName>System.Description</fieldWiqName>
    <fieldDisName>Description</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="DevReviewCredit">
    <fieldWiqName>Microsoft.Dynamics.DevReviewCredit</fieldWiqName>
    <fieldDisName>Dev Review Credit</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="RiskCategory">
    <fieldWiqName>Microsoft.Dynamics.RiskCategory</fieldWiqName>
    <fieldDisName>Development Risk</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="Discipline">
    <fieldWiqName>Microsoft.VSTS.Common.Discipline</fieldWiqName>
    <fieldDisName>Discipline</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="DuplicateIDParent">
    <fieldWiqName>Microsoft.VSTS.Common.DuplicateIDParent</fieldWiqName>
    <fieldDisName>Duplicate ID (Parent)</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="EarliestKnownBrokenBuild">
    <fieldWiqName>Microsoft.Dynamics.EarliestKnownBrokenBuild</fieldWiqName>
    <fieldDisName>Earliest Known Broken Build</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="EEPresent">
    <fieldWiqName>Microsoft.Dynamics.SE.EEPresent</fieldWiqName>
    <fieldDisName>EE Present</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="Escalation">
    <fieldWiqName>Microsoft.Dynamics.Escalation</fieldWiqName>
    <fieldDisName>Escalation</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="EscalationEngineerAssigned">
    <fieldWiqName>Microsoft.Dynamics.EscalationEngineerAssigned</fieldWiqName>
    <fieldDisName>Escalation Engineer Assigned</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="ETADate">
    <fieldWiqName>Microsoft.Dynamics.ETADate</fieldWiqName>
    <fieldDisName>ETA</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="ExplicitRequestedBy">
    <fieldWiqName>Microsoft.Dynamics.ExplicitRequestedBy</fieldWiqName>
    <fieldDisName>Explicit Requested By</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="ExternalLinkCount">
    <fieldWiqName>System.ExternalLinkCount</fieldWiqName>
    <fieldDisName>ExternalLinkCount</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="FixBy">
    <fieldWiqName>Microsoft.Dynamics.FixBy</fieldWiqName>
    <fieldDisName>Fix By</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="FixImpact">
    <fieldWiqName>Microsoft.Dynamics.FixImpact</fieldWiqName>
    <fieldDisName>Fix Impact</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="FixImpactDescription">
    <fieldWiqName>Microsoft.Dynamics.FixImpactDescription</fieldWiqName>
    <fieldDisName>Fix Impact Description</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="GoLiveBlocker">
    <fieldWiqName>Microsoft.Dynamics.GoLiveBlocker</fieldWiqName>
    <fieldDisName>GoLive Blocker</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="GoLiveBug">
    <fieldWiqName>Microsoft.Dynamics.GoLiveBug</fieldWiqName>
    <fieldDisName>GoLive Bug</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="GoLiveDate">
    <fieldWiqName>Microsoft.Dynamics.GoLiveDate</fieldWiqName>
    <fieldDisName>GoLive Date</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="HowFound">
    <fieldWiqName>Microsoft.Dynamics.HowFound</fieldWiqName>
    <fieldDisName>How Found</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="HyperLinkCount">
    <fieldWiqName>System.HyperLinkCount</fieldWiqName>
    <fieldDisName>HyperLinkCount</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="InformationRequest">
    <fieldWiqName>Microsoft.Dynamics.InformationRequest</fieldWiqName>
    <fieldDisName>Information Request</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="InformationResponse">
    <fieldWiqName>Microsoft.Dynamics.InformationResponse</fieldWiqName>
    <fieldDisName>Information Response</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="IntegrationBuild">
    <fieldWiqName>Microsoft.VSTS.Build.IntegrationBuild</fieldWiqName>
    <fieldDisName>Integration Build</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="Issue">
    <fieldWiqName>Microsoft.VSTS.Common.Issue</fieldWiqName>
    <fieldDisName>Issue</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>3</FieldNum>
    <Enabled>true</Enabled>
  </TFSFields>
  <TFSFields FieldName="IterationPath">
    <fieldWiqName>System.IterationPath</fieldWiqName>
    <fieldDisName>Iteration Path</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="IterationId">
    <fieldWiqName>System.IterationId</fieldWiqName>
    <fieldDisName>IterationID</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="KBNumber">
    <fieldWiqName>Microsoft.Dynamics.KBNumber</fieldWiqName>
    <fieldDisName>KBNumber</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>1</FieldNum>
    <Enabled>true</Enabled>
  </TFSFields>
  <TFSFields FieldName="KernelTestBuild">
    <fieldWiqName>Microsoft.Dynamics.SE.KernelTestBuild</fieldWiqName>
    <fieldDisName>Kernel Test Build</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="KernelType">
    <fieldWiqName>Microsoft.Dynamics.KernelType</fieldWiqName>
    <fieldDisName>Kernel Type</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="Keywords">
    <fieldWiqName>Microsoft.VSTS.Common.Keywords</fieldWiqName>
    <fieldDisName>Keywords</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="LastKnownWorkingBuild">
    <fieldWiqName>Microsoft.Dynamics.LastKnownWorkingBuild</fieldWiqName>
    <fieldDisName>Last Known Working Build</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="MPTSResult">
    <fieldWiqName>Microsoft.Dynamics.SE.MPTSResult</fieldWiqName>
    <fieldDisName>MPTS Result</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="NodeName">
    <fieldWiqName>System.NodeName</fieldWiqName>
    <fieldDisName>Node Name</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="OpenedApplicationBuild">
    <fieldWiqName>Microsoft.Dynamics.OpenedApplicationBuild</fieldWiqName>
    <fieldDisName>Opened Application Build</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="OpenedKernelBuild">
    <fieldWiqName>Microsoft.Dynamics.OpenedKernelBuild</fieldWiqName>
    <fieldDisName>Opened Kernel Build</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="OTLatestFailed">
    <fieldWiqName>Microsoft.Dynamics.SE.OTLatestFailed</fieldWiqName>
    <fieldDisName>OTLatest Failed</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="OTLatestPassed">
    <fieldWiqName>Microsoft.Dynamics.SE.OTLatestPassed</fieldWiqName>
    <fieldDisName>OTLatest Passed</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="OTLatestPending">
    <fieldWiqName>Microsoft.Dynamics.SE.OTLatestPending</fieldWiqName>
    <fieldDisName>OTLatest Pending</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="OTLatestTotal">
    <fieldWiqName>Microsoft.Dynamics.SE.OTLatestTotal</fieldWiqName>
    <fieldDisName>OTLatest Total</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="OTRTMSP1Failed">
    <fieldWiqName>Microsoft.Dynamics.SE.OTRTMSP1Failed</fieldWiqName>
    <fieldDisName>OTRTMSP1 Failed</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="OTRTMSP1Passed">
    <fieldWiqName>Microsoft.Dynamics.SE.OTRTMSP1Passed</fieldWiqName>
    <fieldDisName>OTRTMSP1 Passed</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="OTRTMSP1Pending">
    <fieldWiqName>Microsoft.Dynamics.SE.OTRTMSP1Pending</fieldWiqName>
    <fieldDisName>OTRTMSP1 Pending</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="OTRTMSP1Total">
    <fieldWiqName>Microsoft.Dynamics.SE.OTRTMSP1Total</fieldWiqName>
    <fieldDisName>OTRTMSP1 Total</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="PTPassedFirst">
    <fieldWiqName>Microsoft.Dynamics.SE.PTPassedFirst</fieldWiqName>
    <fieldDisName>Passed on First Run</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="PTPassedRerun">
    <fieldWiqName>Microsoft.Dynamics.SE.PTPassedRerun</fieldWiqName>
    <fieldDisName>Passed on Rerun</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="PlannedUpdate">
    <fieldWiqName>Microsoft.Dynamics.SE.PlannedUpdate</fieldWiqName>
    <fieldDisName>Planned Update</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="ProductStudio">
    <fieldWiqName>Microsoft.Dynamics.ProductStudio</fieldWiqName>
    <fieldDisName>Product Studio</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="PSRegressionBug">
    <fieldWiqName>Microsoft.Dynamics.PSRegressionBug</fieldWiqName>
    <fieldDisName>PS Regression Bug</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="PTFailed">
    <fieldWiqName>Microsoft.Dynamics.SE.PTFailed</fieldWiqName>
    <fieldDisName>PT Failed (To Be Investigated)</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="PTKnownFailure">
    <fieldWiqName>Microsoft.Dynamics.SE.PTKnownFailure</fieldWiqName>
    <fieldDisName>PT Invalid (Known Failure)</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="PTPassedManual">
    <fieldWiqName>Microsoft.Dynamics.SE.PTPassedManual</fieldWiqName>
    <fieldDisName>PT Passed on Manual Run</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="PTPending">
    <fieldWiqName>Microsoft.Dynamics.SE.PTPending</fieldWiqName>
    <fieldDisName>PT Pending</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="PTTotal">
    <fieldWiqName>Microsoft.Dynamics.SE.PTTotal</fieldWiqName>
    <fieldDisName>PT Total</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="Detection">
    <fieldWiqName>Microsoft.Dynamics.SE.RCA.Detection</fieldWiqName>
    <fieldDisName>RCA Detection</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="Diagnosis">
    <fieldWiqName>Microsoft.Dynamics.SE.RCA.Diagnosis</fieldWiqName>
    <fieldDisName>RCA Diagnosis</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="Prevention">
    <fieldWiqName>Microsoft.Dynamics.SE.RCA.Prevention</fieldWiqName>
    <fieldDisName>RCA Prevention</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="Symptom">
    <fieldWiqName>Microsoft.Dynamics.SE.RCA.Symptom</fieldWiqName>
    <fieldDisName>RCA Symptom</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="Reason">
    <fieldWiqName>System.Reason</fieldWiqName>
    <fieldDisName>Reason</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="RegionCountry">
    <fieldWiqName>Microsoft.Dynamics.RegionCountry</fieldWiqName>
    <fieldDisName>Region/Country</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="Regression">
    <fieldWiqName>Microsoft.VSTS.Common.Regression</fieldWiqName>
    <fieldDisName>Regression</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="RelatedLinkCount">
    <fieldWiqName>System.RelatedLinkCount</fieldWiqName>
    <fieldDisName>RelatedLinkCount</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="ReproApplicationBuild">
    <fieldWiqName>Microsoft.Dynamics.ReproApplicationBuild</fieldWiqName>
    <fieldDisName>Repro Application Build</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="ReproKernelBuild">
    <fieldWiqName>Microsoft.Dynamics.ReproKernelBuild</fieldWiqName>
    <fieldDisName>Repro Kernel Build</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="ResolvedBy">
    <fieldWiqName>Microsoft.VSTS.Common.ResolvedBy</fieldWiqName>
    <fieldDisName>Resolved By</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="ResolvedDate">
    <fieldWiqName>Microsoft.VSTS.Common.ResolvedDate</fieldWiqName>
    <fieldDisName>Resolved Date</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="ResolvedReason">
    <fieldWiqName>Microsoft.VSTS.Common.ResolvedReason</fieldWiqName>
    <fieldDisName>Resolved Reason</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="Rev">
    <fieldWiqName>System.Rev</fieldWiqName>
    <fieldDisName>Rev</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="RevisedDate">
    <fieldWiqName>System.RevisedDate</fieldWiqName>
    <fieldDisName>Revised Date</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="RiskDescription">
    <fieldWiqName>Microsoft.Dynamics.RiskDescription</fieldWiqName>
    <fieldDisName>Risk Description</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="SecurityBug">
    <fieldWiqName>Microsoft.VSTS.Common.SecurityBug</fieldWiqName>
    <fieldDisName>Security Bug</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="ServerOS">
    <fieldWiqName>Microsoft.Dynamics.ServerOS</fieldWiqName>
    <fieldDisName>Server OS</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="Severity">
    <fieldWiqName>Microsoft.VSTS.Common.Severity</fieldWiqName>
    <fieldDisName>Severity</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="Solution">
    <fieldWiqName>Microsoft.Dynamics.Solution</fieldWiqName>
    <fieldDisName>Solution</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="Solution1">
    <fieldWiqName>Microsoft.Dynamics.SE.Solution1</fieldWiqName>
    <fieldDisName>Solution 1</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="Solution2">
    <fieldWiqName>Microsoft.Dynamics.SE.Solution2</fieldWiqName>
    <fieldDisName>Solution 2</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="Solution3">
    <fieldWiqName>Microsoft.Dynamics.SE.Solution3</fieldWiqName>
    <fieldDisName>Solution 3</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="SROpenedDate">
    <fieldWiqName>Microsoft.Dynamics.SE.SROpenedDate</fieldWiqName>
    <fieldDisName>SR Opened Date</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="SRReqNumber">
    <fieldWiqName>Microsoft.Dynamics.SE.SRReqNumber</fieldWiqName>
    <fieldDisName>SR Req Number</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="StateChangeDate">
    <fieldWiqName>Microsoft.VSTS.Common.StateChangeDate</fieldWiqName>
    <fieldDisName>State Change Date</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="StateTransitionDate">
    <fieldWiqName>Microsoft.Dynamics.StateTransitionDate</fieldWiqName>
    <fieldDisName>State Transition Date</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="StepsToReproduce">
    <fieldWiqName>Microsoft.VSTS.CMMI.StepsToReproduce</fieldWiqName>
    <fieldDisName>Steps To Reproduce</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="TaskStarted">
    <fieldWiqName>Microsoft.Dynamics.TaskStarted</fieldWiqName>
    <fieldDisName>Task Started</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="Team">
    <fieldWiqName>Microsoft.Dynamics.Team</fieldWiqName>
    <fieldDisName>Team</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="TeamProject">
    <fieldWiqName>System.TeamProject</fieldWiqName>
    <fieldDisName>Team Project</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="TechnicalDescription">
    <fieldWiqName>Microsoft.Dynamics.TechnicalDescription</fieldWiqName>
    <fieldDisName>Technical Description</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="TestCaseDataSource">
    <fieldWiqName>Microsoft.Dynamics.TestCaseDataSource</fieldWiqName>
    <fieldDisName>Test Case Data Source</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="TestCaseId">
    <fieldWiqName>Microsoft.Dynamics.TestCaseId</fieldWiqName>
    <fieldDisName>Test Case ID</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="TestCaseStatus">
    <fieldWiqName>Microsoft.Dynamics.TestCaseStatus</fieldWiqName>
    <fieldDisName>Test Case Status</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="TestRecommendation">
    <fieldWiqName>Microsoft.Dynamics.SE.TestRecommendation</fieldWiqName>
    <fieldDisName>Test Recommendations</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="TestResultsNotes">
    <fieldWiqName>Microsoft.Dynamics.SE.TestResultsNotes</fieldWiqName>
    <fieldDisName>Test Results Notes</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="TestReviewCredit">
    <fieldWiqName>Microsoft.Dynamics.TestReviewCredit</fieldWiqName>
    <fieldDisName>Test Review Credit</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="TestScenarios">
    <fieldWiqName>Microsoft.Dynamics.TestScenarios</fieldWiqName>
    <fieldDisName>Test Scenarios</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="TestSpecNotes">
    <fieldWiqName>Microsoft.Dynamics.SE.TestSpecNotes</fieldWiqName>
    <fieldDisName>Test Spec Notes</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="Triage">
    <fieldWiqName>Microsoft.VSTS.Common.Triage</fieldWiqName>
    <fieldDisName>Triage</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="DevCost">
    <fieldWiqName>Microsoft.Dynamics.DevCost</fieldWiqName>
    <fieldDisName>T-Shirt Size</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="VendorDaysCredit">
    <fieldWiqName>Microsoft.Dynamics.VendorDaysCredit</fieldWiqName>
    <fieldDisName>Vendor Days Credit</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
  <TFSFields FieldName="WTTPaths">
    <fieldWiqName>Microsoft.Dynamics.WTTPaths</fieldWiqName>
    <fieldDisName>WTT Paths</fieldDisName>
    <FieldWidth>100</FieldWidth>
    <FieldNum>-1</FieldNum>
    <Enabled>false</Enabled>
  </TFSFields>
</TFSFields>